html{
    background-color: black;
}


a{
  padding: 20px;
  margin: 12px;
  border: solid;
  border-width: 5px;
  border-color: #ff0095 yellowgreen yellow #ccc;
  color: #ff0095;
  background-color: cyan;
  font-size: 18px;
}

h1{
    padding: 20px;
    font-size: 32px;
    color: #ff0095;
}